@font-face {
	font-family: 'Super Kids'; 
	src: url(/fonts/Super\ Kids.ttf); 
}

:root {
  --gray-50: #f4f3f5;
  --label-primary: #4c2e61;
  --label-secondary: #5f3a79;
  --label-tertiary: #5f3a7980;
  --disabled: #cfbbdd;
  --border-primary: #5f3a79cc;
  --border-secondary: #5f3a7999;
  --border-tertiary: #d4b0e8;
  --surface-darken: #5f3a79;
  --surface-disabled: #b798cd;
  --surface-default: #824fa5;
  --bg-card-url: url('https://storage.googleapis.com/msgsndr/gIjYUjNX6k7qAMEqJDLW/media/66314adc7c74f5790afaf509.png');
  --bg-tile-url: url('https://storage.googleapis.com/msgsndr/gIjYUjNX6k7qAMEqJDLW/media/66314adc0f12a561b999053a.png');
  --arrow-down-url: url('https://storage.googleapis.com/msgsndr/gIjYUjNX6k7qAMEqJDLW/media/66314adc7c74f571fcfaf508.svg');
  --mark-url: url('https://storage.googleapis.com/msgsndr/gIjYUjNX6k7qAMEqJDLW/media/66314adceb1abd2a889a6cf0.png');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  color: #5f3a79;
}
button {
  font-family: inherit;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.main {
  height: 100vh;
  background-image: url(/images/square.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}
.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
.main__inner {
  align-items: stretch;
  justify-content: center;
  padding-top: 100px;
  display: flex;
  gap: 48px 100px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 419px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--Border-tertiary, #d4b0e8);
  background: var(--white, #fff);
  box-shadow: 0px 4px 8px 0px rgba(23, 6, 34, 0.2),
    0px 12px 36px 0px rgba(23, 6, 34, 0.2);
  flex-basis: 100%;
  overflow: hidden;
}

.form-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form-card--hiden {
  display: none;
}

.bingo-form__title {
  color: #4c2e61;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
.bingo-form__subtitle {
  margin-bottom: 16px;
  font-size: 18px;
}
.bingo-form__input {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f3a79;
  margin-bottom: 12px;
  width: 100%;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--Border-secondary, rgba(95, 58, 121, 0.6));
}
.bingo-form__input:focus {
  outline: none !important;
  border: 1px solid var(--Border-secondary, rgba(152, 51, 224, 0.6));
}
.bingo-form__label {
  font-size: 15px;
  font-weight: 500;
}
.bingo-form__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 169px;
  margin-bottom: 12px;
  border: 1px solid var(--Border-secondary, rgba(95, 58, 121, 0.6));
  border-radius: 8px;
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 8px;
  color: #5f3a79;
}
.bingo-form__textarea:focus {
  outline: none !important;
  border: 1px solid var(--Border-secondary, rgba(152, 51, 224, 0.6));
}

.bingo-form__textarea::placeholder {
  color: var(--Label-tertiary, rgba(95, 58, 121, 0.5));
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.select__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: wrap;
  gap: 10px;
}
.select__subinner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bingo-form__select {
  display: block;
  width: 182px;
  padding: 8px;
  color: var(--Label-secondary, #5f3a79);
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid var(--Border-secondary, rgba(95, 58, 121, 0.6));
  appearance: none;
  outline: none;
  cursor: pointer;
}
.select__wrapper {
  position: relative;
}
.select__wrapper::before {
  content: url(/images/arrow-down.svg);
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 8px;
  display: block;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.buttons__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
}
.bingo-form__button {
  padding: 14px;
  width: 182px;
  border-radius: 12px;
  font-family: Prompt;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.bingo-form__active {
  color: var(--Label-secondary, #5f3a79);
  border-radius: 12px;
  border: 1px solid var(--Border-primary, rgba(95, 58, 121, 0.8));
  background: var(--white, #fff);
  cursor: pointer;
}
.bingo-form__disabled {
  background: var(--Surface-Disabled, #b798cd);
  color: var(--Label-Disabled, #cfbbdd);
  border: 1px solid transparent;
  cursor: not-allowed;
  pointer-events: none;
  
}

.grid-layout__button {
  color: var(--Label-secondary, #5f3a79);
  position: relative;
  width: 182px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--Border-secondary, rgba(95, 58, 121, 0.6));
  background-color: #fff;
  text-align: left;
  padding: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: Prompt;
  cursor: pointer;
}
.grid-layout__button::after {
  position: absolute;
  content: url(/images/arrow-down.svg);
  height: 20px;
  width: 20px;
  top: 10px;
  bottom: 10px;
  right: 8px;
  pointer-events: none;
}
.cell-size__button {
  color: var(--Label-secondary, #5f3a79);
  position: relative;
  width: 182px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--Border-secondary, rgba(95, 58, 121, 0.6));
  background-color: #fff;
  text-align: left;
  padding: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: Prompt;
  cursor: pointer;
}
.cell-size__button::after {
  position: absolute;
  content: url(/images/arrow-down.svg);
  height: 20px;
  width: 20px;
  top: 10px;
  bottom: 10px;
  right: 8px;
  pointer-events: none;
}

.grid-layout__list {
  display: none;
  position: absolute;
  cursor: pointer;
  top: -98px;
  color: var(--Label-secondary, #5f3a79);
  width: 182px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.cell-size__list {
  display: none;
  position: absolute;
  cursor: pointer;
  top: -65px;
  color: var(--Label-secondary, #5f3a79);
  width: 182px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.dropup__list--visible {
  display: block;
}

.grid-layout__item:hover {
  background: rgb(235, 233, 237);
}
.cell-size__item:hover {
  background: rgb(235, 233, 237);
}
.grid-layout__item {
  padding: 4px 8px;
}
.cell-size__item {
  padding: 4px 8px;
}

.dropup__input-hiden {
  display: none;
}

.column-game__title {
  justify-content: center;
  gap: 10px;
  display: flex;
  font-family: Sigmar;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  padding: 36px 0;
  margin-bottom: 7px;
  position: relative;
}
.column-game__title::before {
  content: url(/images/bingo-before.svg);
  width: 36px;
  height: 27px;
}
.column-game__title::after {
  content: url(/images/bingo-after.svg);
  width: 36px;
  height: 27px;
}
.column-game__title-wrapper {
  position: relative;
}
.column-game__title-wrapper::before {
  position: absolute;
  content: url(/images/solar_star-1.png);
  width: 36px;
  height: 27px;
  right: 1px;
  top: 67px;
}
.column-game__title-wrapper::after {
  position: absolute;
  content: url(/images/solar_star-2.png);
  width: 36px;
  height: 27px;
  right: -6px;
  top: 8px;
}

.card-game {
  background: url(/images/baground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  max-width: 419px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--Border-tertiary, #d4b0e8);

  box-shadow: 0px 4px 8px 0px rgba(23, 6, 34, 0.2),
    0px 12px 36px 0px rgba(23, 6, 34, 0.2);
  flex-basis: 100%;
  overflow: hidden;
}
.game-started .card__item {
  pointer-events: auto;  

}

.card-game::after {
  position: absolute;
  content: url(/images/solar_star-1.png);
  width: 36px;
  height: 27px;
  right: 1px;
  top: 67px;
  left: 11px;
}

.card__inner {
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

.card__row {
  display: flex;
  gap: 10px;
}
.card__item {
  pointer-events: none;
  transition: all 0.4s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  opacity: 0, 2;
  border-radius: 8px;
  border: 0.7px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(0, 0, 0, 0.12) 100%
    ),
    rgba(253, 253, 253, 0.3);
  backdrop-filter: blur(60px);
}

.card__item-text {
  font-family: Prompt;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  width: 50px;
}

.card__item-special-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--white, #FFF);
}

.card__item-special-text--hidden {
  display: none;
}
.card__item--active {
  background: var(--white, #fff);
  opacity: 1;
}

.card__item-checked {
  display: none;
  
}

.checked .card__item-checked {
  position: absolute;
  display: block;
  width: 67px;

  
}

.card__item--active img {
  display: none;
}
.card__item-img--active {
  display: none;
}

.card__inner--three {
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto auto;
}

.card-game-full {
  max-width: calc(100% - 50%);
}

.card-game-full .card__inner .card__item {
  width: 100%;
  aspect-ratio: 0;
  height: 71px;
}

.bingo-startin {
  display: none;
  text-align: center;
}
.bingo-startin--active {
  display: flex;
  flex-direction: column;
}
.bingo-startin__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.bingo-startin__number {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.start-timer {
  display: none;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.start-timer--active {
  display: flex;
}
.start-timer__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  
}
.start-timer__number {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.start-timer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 192px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.start-timer__pause {
  cursor: pointer;
}
.start-timer__reset {
  padding: 14px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--Label-secondary, #5f3a79);
  cursor: pointer;
}

.start-timer__elipse {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  max-width: 171px;
  max-height: 171px;
}

.succes {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.succes--active {
  display: flex;
}

.succes__img {
  max-width: 220px;
  padding: 16px 23px 16px 17px;
  margin-bottom: 21px;
}
.succes__title {
  color: var(--Label-primary, #4c2e61);
  font-family: Prompt;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
.succes__text {
  color: var(--Label-secondary, #5f3a79);
  text-align: center;
  font-family: Prompt;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 375px;
  margin-bottom: 46px;
}
.succes__button {
  padding: 14px 20px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  width: 100%;
  border-radius: 12px;
  background: var(--Surface-Darken, #5f3a79);
}
.fail {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.fail--active {
  display: flex;
}
.fail__img {
  max-width: 200px;
  padding: 10px;
  margin-bottom: 31px;
}
.fail__title {
  color: var(--Label-primary, #4c2e61);
  font-family: Prompt;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
.fail__text {
  color: var(--Label-secondary, #5f3a79);
  text-align: center;
  font-family: Prompt;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 375px;
  margin-bottom: 73px;
}
.fail__button {
  padding: 14px 20px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  width: 100%;
  border-radius: 12px;
  background: var(--Surface-Darken, #5f3a79);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  height: 100%;
  width: 100%;
}

.timer-title {
  color: var(--surface-default);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.timer-number {
  color: var(--surface-default);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--surface-default);
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  cursor: default;
}

.circle-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

circle {
  stroke-dasharray: 0px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 12px;
  stroke: var(--surface-default);
  fill: none;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dasharray 1s linear;
}

.tip {
  text-align: center;
  color: var(--label-secondary);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.timer-container {
  order: -1;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.timer-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px;
}

.pause-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px var(--border-primary) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #5f3a7999;
  border-color: var(--border-primary);
}

.pause-button:disabled {
  border-color: transparent;
  cursor: default;
  opacity: 0;
}

.pause-button:disabled > * {
  opacity: 0;
}

.reset-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 0.5em;
  color: var(--label-secondary);
}

.reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #5f3a7999;
  border: 1px var(--border-primary) solid;
  border-radius: 10px;
}

.reset-button:disabled {
  cursor: default;
  color: transparent;
}

@media (max-width: 820px) {
  .card {
    width: 100%;
  }
  .bingo-form__fieldset {
    display: none;
  }
  .bingo-startin__text {
    order: 2;
  }
  .bingo-startin__number {
    order: 1;
  }
}

@media (max-width: 450px) {
  .bingo-form__title {
    font-size: 18px;
  }
  .bingo-form__subtitle {
    font-size: 16px;
  }
  .bingo-form__button {
    width: 175px;
  }
  .card {
    padding: 16px;
  }
  .bingo-form__button {
    font-size: 18px;
  }
  .column-game__title {
    font-family: 'Super Kids';
    font-weight: 700;
    font-size: 60px;
    font-style: normal;
    line-height: 80%; 
  }
  .circle-container circle {
    display: none;
  }
  .start-timer__wrapper {
    display: none;
  }
  .timer-container {
    min-height: 66px;
  }
  .start-timer__text {

  }
}

@media (max-width: 430px) {
  .bingo-form__button {
    width: 165px;
  }
  .card__item-text {
    font-size: 9.5px;
  }
}
@media (max-width: 410px) {
  .bingo-form__button {
    width: 146px;
  }

}
